## Types of Functions

1. Built-in Function
2. User-defined Function

### Built-in Functions

In [1]:
# abs()
# for finding the absolute value

temp = -15

print(abs(temp))

15

In [7]:
# all()
# returns True if all elements in an iterable are true else False

nos = [1,2,3,4]
print(all(nos))

lst = [False, 3, 7]
print(all(lst))

lst1 = [0,2,4,6]
print(all(lst1))

empty_lst = []
print(all(empty_lst))    # empty list returns True

True
False
False
True

In [8]:
# dir()
# returns list of valid attributes of the object

nos = ()
print(dir(nos))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [9]:
# divmod()
# prints the quotient and remainder as a tuple

print(divmod(9,4))

(2, 1)

### Enumerate

Syntax: enumerate(iterable, start = 0)

In [11]:
# Enumerate
# adds counter to an iterable and returns it

nos = [2,4,6,8]
for index, num in enumerate(nos, 0):
    print("index {0} has value {1}".format(index, num))

index 0 has value 2
index 1 has value 4
index 2 has value 6
index 3 has value 8

In [12]:
nos = (2,4,6,8)
for index, num in enumerate(nos, 0):
    print("index {0} has value {1}".format(index, num))

index 0 has value 2
index 1 has value 4
index 2 has value 6
index 3 has value 8

In [46]:
nos = (2,4,6,8)
for index, num in enumerate(nos, 55):    # second argument of enumerate reflects from where we want to start the counter 
    print("index {0} has value {1}".format(index, num))

index 55 has value 2
index 56 has value 4
index 57 has value 6
index 58 has value 8

In [34]:
name = "James"
for index, nm in enumerate(name, 0):
    print("index {0} has value {1}".format(index, nm))

index 0 has value J
index 1 has value a
index 2 has value m
index 3 has value e
index 4 has value s

In [35]:
name = {'j','a','m','e','s'}
for index, nm in enumerate(name, 0):
    print("index {0} has value {1}".format(index, nm))

index 0 has value e
index 1 has value m
index 2 has value j
index 3 has value s
index 4 has value a

In [44]:
bio = {'name': 'James', 'age': 45, 'job':'Detective'}
for index, nm in enumerate(bio):
    print("index {0} has key {1}".format(index, nm))   # only enumerates through the dict keys

index 0 has key name
index 1 has key age
index 2 has key job

In [43]:
bio = {'name': 'James', 'age': 45, 'job':'Detective'}
for index, nm in enumerate(bio.values()):
    print("index {0} has value {1}".format(index, nm))

index 0 has value James
index 1 has value 45
index 2 has value Detective

In [42]:
bio = {'name': 'James', 'age': 45, 'job':'Detective'}
for index, (i,nm) in enumerate(bio.items()):
    print("index {0} has key {1} and value {2}".format(index,i, nm))    # enumerates through the key value pair

index 0 has key name and value James
index 1 has key age and value 45
index 2 has key job and value Detective

In [45]:
# without using enumerate

bio = {'name': 'James', 'age': 45, 'job':'Detective'}
for key, value in bio.items():
    print("key {0} has value {1}".format(key, value))

key name has value James
key age has value 45
key job has value Detective

### filter()

syntax: filter(function, iterable)

In [49]:
def pos_num(num):
    if num>0:
        return num
    
num_list = range(-5, 4)
print(list(num_list))

pos_num_lst = list(filter(pos_num, num_list))
print(pos_num_lst)

[-5, -4, -3, -2, -1, 0, 1, 2, 3]
[1, 2, 3]

### isinstance()

checks if the object (1st argument) is an instance or subclass of classinfo class (2nd argument).

syntax: isinstance(object, classinfo)

In [50]:
lst = [1,2,3,4]
print(isinstance(lst, list))

# try with other datatypes

print(isinstance(lst, tuple))

True
False

### map()

syntax: map(function_to_apply, list_of_inputs)

In [51]:
nos = [2,4,6,8]

def square(num):
    return num ** 2

squared = list(map(square, nos))
print(squared)

[4, 16, 36, 64]

### reduce()

- reduce() function is for performing some computation on a list and returning the result.
- It applies a rolling computation to sequential pairs of values in a list.

In [55]:
from functools import reduce

nos = [1,2,3,4]

def mul(x,y):
    return x*y

product = reduce(mul, nos)
print(product)

24

In [56]:
from functools import reduce

nos = [1,2,3,4]

def add(x,y):
    return x+y

addn = reduce(add, nos)
print(addn)

10